<configuration>
<!-- 
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <appender name="clientCON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%fullRequest%n%n%fullResponse</pattern>
    </encoder>
  </appender>

  <appender-ref ref="clientCON" />
  -->
 <appender name="remoteserver" class="com.uws.log.accesslog.SocketAppender">
   <remoteHost>192.168.20.105</remoteHost>
   <port>9002</port> 
   <reconnectionDelay>10000</reconnectionDelay>
   <queueSize>5000</queueSize>
   <servercode>BDP_TEST</servercode>
 </appender>
 
 <appender-ref ref="remoteserver" />

</configuration>
